<form action="/login" method="post">
  <input name="email" placeholder="email" required type="email">
  <input name="password" placeholder="password" required type="password">
  <input type="submit" value="LOGIN">
</form>