<div class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container is-max-desktop" style="max-width: 500px">
      <form action="/signup" class="card py-6 px-6 mb-4"" method="post">
        <h1 class="title has-text-dark mb-6">Sign up</h1>

        <input autofocus class="input mb-4" name="first_name" placeholder="first name" required type="text">
        <input class="input mb-4" name="last_name" placeholder="last name" required type="text">

        <input class="input mb-4" name="email" placeholder="email" required type="email">
        <input class="input mb-4" name="password" placeholder="password" required type="password">
        <input class="input mb-4" name="verify_password" placeholder="verify password" required type="password">

        <button class="button is-success mr-2" type="submit">
          <span>Sign up</span>
          <span class="icon">
            <i class="fas fa-user-plus"></i>
          </span>
        </button>

        <a class="button is-light" href="/login">
          <span>Log in</span>
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
        </a>
      </form>
    </div>
  </div>
</div>